#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 9rem);
    padding: 2rem;
    transition: max-width .5s ease;

    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .text {
            display: flex;
            flex-direction: column;
            text-align: center;
            transition: width .5s ease;
            user-select: none;

            h1 {
                font-size: 3rem;
                line-height: 3rem;
                font-weight: 700;
                margin-bottom: 2rem;
            }

            p {
                width: 100%;
                font-size: 1rem;

                u {
                    color: var(--notee-primary);
                }
            }

            .actions {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 2rem;

                button {
                    min-width: 0;
                    margin-right: .5rem;
                }
            }
        }
    }
}
